<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mycloudmusic.cloudmusic.mapper.ArtistMapper">
  <resultMap id="BaseResultMap" type="com.server.mycloudmusic.cloudmusic.entity.Artist">
    <!--@mbg.generated-->
    <!--@Table artist-->
    <id column="artist_id" jdbcType="INTEGER" property="artistId" />
    <result column="artist_name" jdbcType="VARCHAR" property="artistName" />
    <result column="artist_contory" jdbcType="VARCHAR" property="artistContory" />
    <result column="artist_tyep" jdbcType="VARCHAR" property="artistTyep" />
    <result column="artist_info" jdbcType="VARCHAR" property="artistInfo" />
    <result column="artist_img" jdbcType="VARCHAR" property="artistImg" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    artist_id, artist_name, artist_contory, artist_tyep, artist_info, artist_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from artist
    where artist_id = #{artistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from artist
    where artist_id = #{artistId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="artist_id" keyProperty="artistId" parameterType="com.server.mycloudmusic.cloudmusic.entity.Artist" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into artist (artist_name, artist_contory, artist_tyep,
      artist_info, artist_img)
    values (#{artistName,jdbcType=VARCHAR}, #{artistContory,jdbcType=VARCHAR}, #{artistTyep,jdbcType=VARCHAR},
      #{artistInfo,jdbcType=VARCHAR}, #{artistImg,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.server.mycloudmusic.cloudmusic.entity.Artist">
    <!--@mbg.generated-->
    update artist
    set artist_name = #{artistName,jdbcType=VARCHAR},
      artist_contory = #{artistContory,jdbcType=VARCHAR},
      artist_tyep = #{artistTyep,jdbcType=VARCHAR},
      artist_info = #{artistInfo,jdbcType=VARCHAR},
      artist_img = #{artistImg,jdbcType=VARCHAR}
    where artist_id = #{artistId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from artist
  </select>

  <select id="selectByArtistName" resultMap="BaseResultMap">

    select <include refid="Base_Column_List" />
    from artist
    where artist_name
    LIKE #{artistName,jdbcType=VARCHAR}
  </select>
</mapper>
